table.rosyBrownTable {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border: 2px solid #000000;
  background-color: #555555;
  width: 400px;
  text-align: center;
  border-collapse: collapse;
}
table.rosyBrownTable td, table.rosyBrownTable th {
  border: 1px solid #555555;
  padding: 4px 4px;
}
table.rosyBrownTable tbody td {
  font-size: 13px;
  font-weight: bold;
  color: #FFFFFF;
}
table.rosyBrownTable td:nth-child(even) {
  background: #BABABA;
}